# NODE_ENV=production

# Servidor
PORT=3000

# Base de dados
DB_HOST=100.101.144.107
DB_PORT=3306
DB_USER=root
DB_PASSWORD=toor
DB_NAME_TESTE=Test_RTS_IntegraX
DB_NAME=RTS_IntegraX

# JWT
JWT_SECRET=supersecretkey

# Configurações do GitHub
# Certifique-se de que o token tenha permissões para acessar o repositório
GITHUB_TOKEN=ghp_seutokenaqui
GITHUB_OWNER=seu_usuario_ou_org
GITHUB_REPO=nome_do_repositorio